</head>
<body>
<header>
  <div id="header_container">
    <div id="header_logo">
      <a href="/"><img src="/images/dashJuicelogo.png" width="400" height="133" alt="Logo"></a>
    </div>
    <!--end header_logo-->
  </div>
  <!--end header-->
</header>

<nav>
  <div id="nav_container">
    <ul id="menu">
      <a href="/about">
        <li><img src="/images/AboutUs.png"></li>
      </a>
      <a href="/learn">
        <li><img src="/images/Learn.png"></li>
      </a>
      <a href="/juices">
        <li><img src="/images/TheJuices.png"></li>
      </a>
      <a href="/order">
        <li><img src="/images/Order.png"></li>
      </a>
      <a href="/contact">
        <li><img src="/images/ContactUs.png"></li>
      </a>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div id="content">
  <div id="content_container">

    <!--  1/3 x 2/3 -->
    <div class="top_columns">
      <div class="two_third">
        <img src="/images/DashJuiceCitySearch.png">
      </div>
    </div>
    <div class="one_third">
      <p>Dash Juice <span class="citysearch">Voted the <span class="mid_p_font_larger">#1</span> juice cleanse in Boulder.</span></p>
    </div>
    <div class="resetColumnSet"></div>
    <div>
      <p class="nav_titles">Meet Our Team</p>

      <p>Dean Kasal, Founder/Chief Juicing Officer</p>

      <p class="nav_body">Dean has always been fascinated with health and wellness, but he didn’t realize just how
        important it was until shortly after graduating from college. While attending the University
        of Illinois’ highly esteemed College of Business, the stress and less-than-optimal diet
        began to affect his health. While he never regarded his diet as “bad”, the consumption of
        highly processed and non-living foods were silently taking their toll. Within 2 years of
        starting his career in Finance, a health monstrosity reared its ugly head – Dean was
        diagnosed with Ulcerative Colitis. For this, traditional medicine knows no cause, and
        it knows no cure. The recommended treatment for this disease required a lifelong regimen
        of pills. For a short time, Dean opted for the pills, assuming it was the only solution.
        After less than a year of popping prescription pills that promised to keep the disease at
        bay, blood tests revealed elevated liver enzyme levels indicating serious liver damage had
        occurred. As it turns out, this damage was caused by the pills that were intended to restore
        health. For someone as young (and otherwise healthy) as Dean, it was a devastating experience.
        Despite Dean’s discouraging experience with Western medicine’s failed approach, he was
        determined to find a way to heal.</p>

      <p class="nav_body">lorem ipsum lorem ipsum lorem ipsum</p>

    </div>

  </div>

</div>
<!--end content_container-->
</div>
</body>
