</head>
<body>
<header>
  <div id="header_container">
    <div id="header_logo">
      <a href="/"><img src="/images/dashJuiceLogo.png" width="400" height="133" alt="Logo"></a>
    </div>
    <!--end header_logo-->
  </div>
  <!--end header-->
</header>

<nav>
  <div id="nav_container">
    <ul id="menu">
      <a href="/about">
        <li><img src="/images/AboutUs.png"></li>
      </a>
      <a href="/learn">
        <li><img src="/images/Learn.png"></li>
      </a>
      <a href="/juices">
        <li><img src="/images/TheJuices.png"></li>
      </a>
      <a href="/order">
        <li><img src="/images/Order.png"></li>
      </a>
      <a href="/contact">
        <li><img src="/images/ContactUs.png"></li>
      </a>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div id="content">
  <div id="contact_container">


    <div class="resetColumnSet"></div>

    <p class="nav_titles">Contact Us</p>

    <p class="nav_body">Orders can be placed 24 hours a day, seven days a week using our website.</p>

    <p class="nav_body">Dash Juice serves the Boulder area with home delivery. Enter your zip code in the box
      in the upper-right corner of this page to find out if we deliver to you. Boulder pick-up
      locations coming soon.</p>

    <p class="nav_body">Questions? Ideas? Suggestions on how we can improve? Shoot us an email--we'd love to hear
      from you!</p>

    <p class="nav_body">lorem ipsum lorem ipsum lorem ipsum</p>
  </div>
  <!--end content_container-->
</div>
</body>