<h1 class="welcome-text">
  <% if user != nil %>
    Welcome, <%= email %>
    </h1>
    <a class="links" href="/logout">Logout</a>
    <a class="links" href="/show_users">View all users</a>
  <% else %>
    <h1 class="welcome-text">
      You are not logged in.
    </h1>

    <a class="links" href="/login">Login</a>
    <a class="links" href="/register">Register</a>
  <% end %>


