<!doctype html>
<html>
<head>
  <meta charset="UTF-8">

  <title>Dash Juice</title>

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="style.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
  <div id="header_container">
    <div id="header_logo">
      <a href="/about.html"><img src="/images/dashJuicelogo.png" width="400" height="133" alt="Logo"></a>
    </div>
    <!--end header_logo-->
  </div>
  <!--end header-->
</header>

<nav>
  <div id="nav_container">
    <ul id="menu">
      <a href="/about">
        <li><img src="/images/AboutUs.png"></li>
      </a>
      <a href="/learn">
        <li><img src="/images/Learn.png"></li>
      </a>
      <a href="/juices">
        <li><img src="/images/TheJuices.png"></li>
      </a>
      <a href="/order">
        <li><img src="/images/Order.png"></li>
      </a>
      <a href="/contact">
        <li><img src="/images/ContactUs.png"></li>
      </a>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div id="content">
  <div id="content_container">

    <!--  1/3 x 2/3 -->
    <div class="top_columns">
      <div class="two_third">
        <img src="/images/dashJuiceBottles.png">
      </div>
    </div>
    <div class="one_third">
      <p>Try our all-NEW Spring Cleanse delivered to your door!</p>
    </div>
    <div class="resetColumnSet"></div>

    <!--  1/3 x 1/3 x 1/3 -->


    <div class="one_third_columns">
      01
      <div class="side_text">
        <p>We select only the highest quality organic produce</p>
        <img src="/images/fruitsTiny.jpg">
        <p class="index_text_under_pix">We hand-pick only the freshest, brightest colored, certified organic
        fruits and vegetables available. Our belief is that outstanding produce squeezes to make outstanding juice.</p>
      </div>
    </div>
    <div class="one_third_columns">
      02
      <div class="side_text">
        <p>We press the juices fresh by hand</p>
        <img src="/images/fourBottlesDashJuice.png">
        <br><br><br>
        <p class="index_text_under_pix">We don't just use any run-of-the-mill juicer to make our juices. We use
          a hydraulic press (aka the Ferrari of all juicers) to extract every last nutrient.</p>
      </div>
    </div>
    <div class="one_third_columns">
      03
      <div class="side_text">
        <p>We deliver directly to your door</p>
        <img src="/images/carDashJuice.png">
        <br><br>
        <p class="index_text_under_pix">We are just as passionate about taking care of our gigantic playground (i.e. our
        planet) as we are about boosting your health, vitality and well-being with our juices.
      </div>
    </div>
    <div class="resetColumnSet"></div>

  </div>
  <!--end content_container-->
</div>
<!--end content-->

<footer>
  <div id="footer_container">
    <h1 class="footer_text">
      <% if user != nil %>
        You're entered to win a month's worth of free juice, <%= email %>!
        </h1>
        <a class="links" href="/logout">Logout</a>
        <a class="links" href="/show_users">View all users</a>
      <% else %>
        <h1 class="footer_text">
          Register to Win a Month of FREE Juice Deliveries!
        </h1>

        <a class="links" href="/login">Login to Check Order Status</a>
        <a class="links" href="/register">Register to Win!</a>
        <a class="links" href="/register">Join our Mailing List!</a>
      <% end %>
      </div>
  <!--end footer_container-->
</footer>
</body>
</html>



