</head>
<body>
<header>
  <div id="header_container">
    <div id="header_logo">
      <a href="/"><img src="/images/dashJuiceLogo.png" width="400" height="133" alt="Logo"></a>
    </div>
    <!--end header_logo-->
  </div>
  <!--end header-->
</header>

<nav>
  <div id="nav_container">
    <ul id="menu">
      <a href="/about">
        <li><img src="/images/AboutUs.png"></li>
      </a>
      <a href="/learn">
        <li><img src="/images/Learn.png"></li>
      </a>
      <a href="/juices">
        <li><img src="/images/TheJuices.png"></li>
      </a>
      <a href="/order">
        <li><img src="/images/Order.png"></li>
      </a>
      <a href="/contact">
        <li><img src="/images/ContactUs.png"></li>
      </a>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<div id="content">
  <div id="content_container">

    <!--  1/3 x 2/3 -->
    <div class="top_columns">
      <div class="two_third">
        <img src="/images/juicerx_fruit_slide.jpg">
      </div>
    </div>
    <div class="one_third">
      <p>Do you know how to cram 3 lbs. of organic fruits & veggies into a 16oz. bottle? <span class="mid_p_color_change">We do.</span></p>
    </div>
    <div class="resetColumnSet"></div>

    <p class="nav_titles">Why Cleanse with Dash Juice?</p>

    <div>
      <p class="nav_body">Health (and fresh organic juice) is our passion and because of that passion we have
        spent the last decade of our lives diligently researching, studying, and learning about
        what it really takes to attain optimum health. We believe that learning is an ongoing
        process, but we also feel that the knowledge we have acquired thus far is too exciting,
        life-changing and powerful to keep to ourselves. JuiceRx is our way of sharing our
        expertise and our passion for health and well-being with you…</p>

      <p class="nav_body">We realize that you have a few different choices in choosing a nutritional cleanse.
        So WHY JuiceRx? For starters, our juices are live (unpasteurized), fresh, organic,
        vegan, and made with lots of love. And they are the amazing result of collaboration
        between experienced chefs and top health experts to ensure maximum nutrition while
        delighting your taste buds. Our main goal was not compromising on neither.
        Several months of developing and testing our own in-house recipes have resulted
        in the creation of 14 awesome flavors, each with their own deliciously unique flavor
        profile.</p>

      <p class="nav_body">lorem ipsum lorem ipsum lorem ipsum</p>
    </div>


  </div>
  <!--end content_container-->
</div>
</body>