
<div class="form">
<h1 class = "header">
  Register
</h1>
  </div>

<div class = "form">
<form action="/register" method="post">
  <p class = "form-wrapper"> <label class = "form-label" for="email-field">Email</label> <input type="text" name="email" id="email-field"></p>
  <p class = "form-wrapper"> <label class = "form-label" for="password-field">Password</label> <input type="password" name="password" id="password-field"></p>
  <p class = "submit"><input type="submit" value="Register"></p>
</form>
</div>
