<!DOCTYPE html>
<html>
<head><title>A Web Page</title></head>
<body>
<h1>
  Register
</h1>

<form action="/register" method="post">
  <p> Email <input type="text" name="email"></p>
  <p> Password <input type="password" name="password"></p>
  <input type="submit" value="Register">
</form>
</body>
</html>