body {
    background-color: lightblue;
}

.links {
    margin-left: 50px;
    margin-top: 40px;

}

#links-home {
    width:460px;
    margin-left: 50px;
    margin-top: 65px;
    float: left;
    /*width: 200px;*/
}
#container {
width: 940px;
}

#right-welcome{
width:460px;
float: right;
margin-right: 25px;
/*width: 200px;*/
}


.users-header {
    clear: both;

}

.welcome-text {
margin-left: 50px;
margin-top: 60px;

}

.header {
margin-left: 150px;
margin-top: 70px;
}

.form {
margin-left: 200px;
}

.form-wrapper {
margin-left: 70px;
}

.form-label {
display: inline-block;
width: 75px;
}

.submit {
display: inline-block;
margin-left: 150px;
}

.error-message {
display: inline-block;
margin-left: 350px;
color: red;
}

table {
clear: both;
border: solid black;
padding: 25px;
}

th, td {
padding: 10px;
border: solid black 1px;
}
